---
---

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

// Font Variables
$sans-serif-font-family: "EB Garamond", serif;
$serif-font-family:      "EB Garamond", serif;
$code-font-family:       "EB Garamond", serif;

// Color Variables
$body-color:             #505050;
$link-color:             #90b0bc;

$code-background-color:   #f5f5f5;
$pagination-button-color: #e0e0e0;

$dark-gray-color:        #333;
$light-gray-color:       #999;
$extra-light-gray-color: #ccc;

// Layout & Transition Variables
$container-responsive-width: 768px;
$elements-responsive-width:  30em;

$icon-transition-time: .5s;
$envelope-color:       #b5ddeb;
$camera-color:         #b5ddeb;
$book-color:           #b5ddeb;
$twitter-color:        #b5ddeb;
$instagram-color:      #b5ddeb;
$github-color:         #b5ddeb;
$linkedin-color:       #b5ddeb;
$facebook-color:       #b5ddeb;
$pinterest-color:      #b5ddeb;
$medium-color:         #b5ddeb;
$codepen-color:        #b5ddeb;
$rss-color:            #b5ddeb;

@import "-sections-dir";
